<div class="responsive so-megamenu">
	<div class="so-vertical-menu no-gutter">		
    <nav class="navbar-default">
	    <div class=" container-megamenu container vertical ">
				<div id="menuHeading">
			    <div class="megamenuToogle-wrapper">
				    <div class="megamenuToogle-pattern">
					    <div class="container">Categories</div>
				    </div>
			    </div>
		    </div>				
		    <div class="navbar-header hidden-lg hidden-md">
		    	<button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
			    </button>
		    </div>
				<div class="vertical-wrapper">
				  <span id="remove-verticalmenu" class="fa fa-times"></span>
          <div class="megamenu-pattern">
            <div class="container">
              <ul class="megamenu">
                <li class="home">
                  <a href="#">
                    <span><strong>Home</strong></span>								
                  </a>
                </li>					
                <li class="item-vertical style1 with-sub-menu hover">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                    <span><strong> 
                      <i class="icon icon1"></i>Automotive &amp; Motocrycle
                    </strong></span> 
                    <span class="label"> </span> 
                  </a>
                  <div class="sub-menu" data-subwidth="100" style="width: 900px; display: none;">
                    <div class="content" style="display: none;">
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="categories ">
                            <div class="row">
                              <div class="col-sm-6 static-menu">
                                <div class="menu">
                                  <ul>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Automotive</a>
                                      <ul>
                                        <li><a href="" onclick="">Car Audio &amp; Speakers</a></li>
                                        <li><a href="" onclick="">Gadgets &amp; Auto Parts</a></li>
                                        <li><a href="" onclick="">Printers</a></li>
                                        <li><a href="" onclick="">Scanners</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Computer</a>
                                      <ul>
                                        <li><a href="_43" onclick="'_43';">Camping &amp; Hiking</a></li>
                                        <li><a href="_47" onclick="'_47';">Cusen mariot</a></li>
                                        <li><a href="_48" onclick="'_48';">Denta magela</a></li>
                                        <li><a href="_55" onclick="'_55';">Engite nanet</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-sm-6 static-menu">
                                <div class="menu">
                                  <ul>
                                    <li>
                                      <a href="path=17" onclick="'path=17';" class="main-menu">Electronics </a>
                                      <ul>
                                        <li><a href="path=17_64" onclick="'path=17_64';">Angene mafin</a></li>
                                        <li><a href="path=17_60" onclick="'path=17_60';">Egante mangetes</a></li>
                                        <li><a href="path=17_62" onclick="'path=17_62';">Gante extensg</a></li>
                                        <li><a href="path=17_61" onclick="'path=17_61';">Guntes magesg</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="path=57" onclick="'path=57';" class="main-menu">Mobile &amp; Tablet </a>
                                      <ul>
                                        <li><a href="path=57_68" onclick="'path=57_68';">Hanet magente</a></li>
                                        <li><a href="path=57_69" onclick="'path=57_69';">Knage unget</a></li>
                                        <li><a href="path=57_70" onclick="'path=57_70';">Latenge mange</a></li>
                                        <li><a href="path=57_67" onclick="'path=57_67';">Punge nenune</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="row img-banner">
                            <a href="#"><img src="assets/image/catalog/cms/img-static-megamenu-h.png" alt="banner"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="item-vertical"><p class="close-menu"></p><a href="" class="clearfix">
                  <span><strong> 
                    <i class="icon icon2"></i>Electronic
                  </strong></span> 
                    <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical item-style3 with-sub-menu hover">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                    <span><strong> 
                      <i class="icon  icon3"></i>Sports &amp; Outdoors
                    </strong></span> 
                    <span class="label"> </span> 
                  </a>
                  <div class="sub-menu" data-subwidth="60" style="width: 540px; display: none;">
                    <div class="content" style="display: none;">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="categories ">
                            <div class="row">
                              <div class="col-sm-12 static-menu">
                                <div class="menu">
                                  <ul>
                                    <li>
                                      <a href="path=57" onclick="'path=57';" class="main-menu">Mobile &amp; Tablet </a>
                                      <ul>
                                        <li><a href="path=57_69" onclick="'path=57_69';">Knage unget</a></li>
                                        <li><a href="path=57_70" onclick="'path=57_70';">Latenge mange</a></li>
                                        <li><a href="path=57_67" onclick="'path=57_67';">Punge nenune</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="path=17" onclick="'path=17';" class="main-menu">Electronics </a>
                                      <ul>
                                        <li><a href="path=17_64" onclick="'path=17_64';">Angene mafin</a></li>
                                        <li><a href="path=17_60" onclick="'path=17_60';">Egante mangetes</a></li>
                                        <li><a href="path=17_62" onclick="'path=17_62';">Gante extensg</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Computer</a>
                                      <ul>
                                        <li><a href="_47" onclick="'_47';">Cusen mariot</a></li>
                                        <li><a href="_48" onclick="'_48';">Denta magela</a></li>
                                        <li><a href="_55" onclick="'_55';">Engite nanet</a></li>
                                        <li><a href="_44" onclick="'_44';">Theid cupensg</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="row banner">
                            <a href="#"><img src="assets/image/catalog/cms/menu_bg2.jpg" alt="banner1"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="item-vertical with-sub-menu hover">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                    <span><strong> 
                      <i class="icon  icon5"></i>Health &amp; Beauty
                    </strong></span> 
                    <span class="label"> </span> 
                  </a>
                  <div class="sub-menu" data-subwidth="100" style="width: 900px; display: none;">
                    <div class="content" style="display: none;">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="categories ">
                            <div class="row">
                              <div class="col-sm-4 static-menu">
                                <div class="menu">
                                  <ul>
                                    <li>
                                      <a href="path=20" onclick="'path=20';" class="main-menu">Desktops</a>
                                      <ul>
                                        <li><a href="_59" onclick="'_59';">Verture agoent</a></li>
                                        <li><a href="_47" onclick="'_47';">Cusen mariot</a></li>
                                        <li><a href="_43" onclick="'_43';">Camping &amp; Hiking</a></li>
                                        <li><a href="_31" onclick="'_31';">Scanners</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Automotive</a>
                                      <ul>
                                        <li><a href="_35" onclick="'_35';">Gadgets &amp; Auto Parts</a></li>
                                        <li><a href="_28" onclick="'_28';">Car Audio &amp; Speakers</a></li>
                                        <li><a href="_47" onclick="'_47';">Cusen mariot</a></li>
                                        <li><a href="_32" onclick="'_32';">Web Cameras</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-sm-4 static-menu">
                                <div class="menu">
                                  <ul>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Electronics </a>
                                      <ul>
                                        <li><a href="path=17_64" onclick="'path=17_64';">Angene mafin</a></li>
                                        <li><a href="path=17_60" onclick="'path=17_60';">Egante mangetes</a></li>
                                        <li><a href="path=17_62" onclick="'path=17_62';">Gante extensg</a></li>
                                        <li><a href="path=17_61" onclick="'path=17_61';">Guntes magesg</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="path=18" onclick="'path=18';" class="main-menu">Laptops &amp; Notebooks</a>
                                      <ul>
                                        <li><a href="path=57_68" onclick="'path=57_68';">Hanet magente</a></li>
                                        <li><a href="path=57_70" onclick="'path=57_70';">Latenge mange</a></li>
                                        <li><a href="path=17_61" onclick="'path=17_61';">Guntes magesg</a></li>
                                        <li><a href="path=17_60" onclick="'path=17_60';">Egante mangetes</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-sm-4 static-menu">
                                <div class="menu">
                                  <ul>
                                    <li>
                                      <a href="path=57" onclick="'path=57';" class="main-menu">Mobile &amp; Tablet </a>
                                      <ul>
                                        <li><a href="path=57_69" onclick="'path=57_69';">Knage unget</a></li>
                                        <li><a href="path=57_70" onclick="'path=57_70';">Latenge mange</a></li>
                                        <li><a href="path=17_63" onclick="'path=17_63';">Sine engain</a></li>
                                        <li><a href="path=17_66" onclick="'path=17_66';">Rengae manges</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Computer</a>
                                      <ul>
                                        <li><a href="_43" onclick="'_43';">Camping &amp; Hiking</a></li>
                                        <li><a href="_47" onclick="'_47';">Cusen mariot</a></li>
                                        <li><a href="_48" onclick="'_48';">Denta magela</a></li>
                                        <li><a href="_55" onclick="'_55';">Engite nanet</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="item-vertical css-menu with-sub-menu hover">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                  <span><strong> 
                    <i class="icon  icon4"></i>Smartphone &amp; Tablets
                  </strong></span> 
                  <span class="label"> </span> 
                  </a>
                  <div class="sub-menu" data-subwidth="25" style="width: 225px; display: none;">
                    <div class="content" style="display: none;">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="categories ">
                            <div class="row">
                              <div class="col-sm-12 hover-menu">
                                <div class="menu">
                                  <ul>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Windows<b class="fa fa-angle-right"></b></a>
                                      <ul>
                                        <li><a href="" onclick="">Printers</a></li>
                                        <li><a href="" onclick="">Sports</a></li>
                                        <li><a href="" onclick="">Sports</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Sine engain<b class="fa fa-angle-right"></b></a>
                                      <ul>
                                        <li><a href="path=57_68" onclick="'path=57_68';">Hanet magente</a></li>
                                        <li><a href="path=57_69" onclick="'path=57_69';">Knage unget</a></li>
                                        <li><a href="path=57_70" onclick="'path=57_70';">Latenge mange</a></li>
                                        <li><a href="_29" onclick="'_29';">Car Alarms and Security</a></li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a href="path=33_75" onclick="'path=33_75';" class="main-menu">Sports</a>
                                    </li>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Punge nenune<b class="fa fa-angle-right"></b></a>
                                      <ul>
                                        <li><a href="path=57_65" onclick="'path=57_65';">Tange manue</a></li>
                                        <li><a href="path=17" onclick="'path=17';">Electronics </a></li>
                                        <li><a href="path=17_64" onclick="'path=17_64';">Angene mafin</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="" onclick="" class="main-menu">Windows</a></li>
                                    <li>
                                      <a href="" onclick="" class="main-menu">Scanners<b class="fa fa-angle-right"></b></a>
                                      <ul>
                                        <li><a href="path=33_80" onclick="'path=33_80';">Bags</a></li>
                                        <li><a href="path=17_66" onclick="'path=17_66';">Rengae manges</a></li>
                                        <li><a href="path=33_73" onclick="'path=33_73';">Mobiles</a></li>
                                        <li><a href="path=18_46" onclick="'path=18_46';">Macs</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="path=57" onclick="'path=57';" class="main-menu">Mobile &amp; Tablet </a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="item-vertical">
                  <p class="close-menu"></p>
                  <a href="path=80" class="clearfix">
                  <span><strong> 
                    <i class=" icon icon6"></i>Flashlights &amp; Lamps
                  </strong></span> 
                  <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical">
                  <p class="close-menu"></p>
                  <a href="path=82" class="clearfix">
                  <span><strong> 
                    <i class="icon  icon8"></i>Camera &amp; Photo
                  </strong></span> 
                  <span class="label"> </span>
                  </a>
                </li>

                <li class="item-verticalcss-menu">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                    <span><strong> 
                      <i class="icon icon13"></i>Smartphone &amp; Tablets
                    </strong></span> 
                    <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical" style="display: none;">
                  <p class="close-menu"></p>
                  <a href="path=72" class="clearfix">
                  <span><strong> 
                    <i class="icon icon9"></i>Outdoor &amp; Traveling Supplies
                  </strong></span> 
                  <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical" style="display: none;">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                  <span><strong> 
                    <i class="icon icon10"></i>Health &amp; Beauty
                  </strong></span> 
                  <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical" style="display: none;">
                  <p class="close-menu"></p>
                  <a href="path=57" class="clearfix">
                    <span><strong> 
                      <i class="icon icon11"></i>Toys &amp; Hobbies 
                    </strong></span> 
                    <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical" style="display: none;">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                    <span><strong> 
                      <i class="icon icon12"></i>Jewelry &amp; Watches
                    </strong></span> 
                      <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical" style="display: none;">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                    <span><strong> 
                      <i class="icon icon7"></i>Bags, Holiday Supplies
                    </strong></span> 
                      <span class="label"> </span>
                  </a>
                </li>

                <li class="item-vertical" style="display: none;">
                  <p class="close-menu"></p>
                  <a href="" class="clearfix">
                  <span><strong> 
                    More Car Accessories
                  </strong></span> 
                  </a>
                </li>

                

              </ul>
            </div>
          </div>
			  </div>
		  </div>
	  </nav>	
  </div>
</div>






