Full Name <input type="text"[(ngModel)]="fullName"[ngModelOptions]="{standalone :true}"> <!–neu bo ngoac () trong [(ngModel)]  thi la databinding 1 chieu …–>
<br>
{{fullName}}
<br>
Number 1 <input type="number" [(ngModel)]="number1" [ngModelOptions]="{standalone :true}">

Number 2 <input type="number" [(ngModel)]="number2" [ngModelOptions]="{standalone :true}">
<br>

Total {{sum()}}
<br><br>
<img src="assets/images/thumb1.gif" width="{{width}}" height="{{height}}" title="{{title}}">
<br><br>
<input type="number" [(ngModel)]="width" [ngModelOptions]="{standalone :true}">
<input type="number" [(ngModel)]="height" [ngModelOptions]="{standalone :true}">
<input type="text" [(ngModel)]="title" [ngModelOptions]="{standalone :true}">
