<div class="container">
  <ul class="breadcrumb">
      <li><a href="/home"><i class="fa fa-home"></i></a></li>
      <li><a href="/category">Electronics </a></li>
  </ul>
  <div class="row">
    <aside class="col-md-3 col-sm-4 content-aside left_column">
      <div class="so_filter_wrap_block">
        <div class="module so_filter_wrap block-shopby">
          <h3 class="modtitle so-filter-heading-text"><span>SHOP BY</span></h3>
          <div class="modcontent">
            <ul data-product_id="42,30,47,28,41,40,89,55,56">
              <li class="so-filter-options" data-option="search">
                <div class="so-filter-heading">
                  <div class="so-filter-heading-text">
                    <span>Search</span>
                  </div>
                  <i class="fa fa-chevron-down"></i>
                </div>
                <div class="so-filter-content-opts">
                  <div class="so-filter-content-opts-container">
                    <div class="so-filter-option" data-type="search">
                      <div class="so-option-container">
                        <div class="input-group">
                          <input type="text" class="form-control" name="text_search" id="text_search" value="">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="button" id="submit_text_search"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="so-filter-options" data-option="Colors">
                <div class="so-filter-heading">
                  <div class="so-filter-heading-text">
                    <span>Colors</span>
                  </div>
                  <i class="fa fa-chevron-down"></i>
                </div>
              
                <div class="so-filter-content-opts">
                  <div class="so-filter-content-opts-container">
                    <ul>
                                <li class="so-filter-option opt-select  opt_enable" data-type="option" data-option_value="51" data-count_product="5" data-list_product="41,47,30,40,42">
                          <label title="Green">
                            <img src="assets/image/cache/catalog/colors/green-20x20.jpg">
                          </label>
                          <div class="option-count"><span>5</span></div>
                        </li>
                                <li class="so-filter-option opt-select  opt_enable" data-type="option" data-option_value="54" data-count_product="4" data-list_product="47,28,40,41">
                          <label title="Blue">
                            <img src="assets/image/cache/catalog/colors/blue-20x20.jpg">
                          </label>
                          <div class="option-count"><span>4</span></div>
                        </li>
                                <li class="so-filter-option opt-select  opt_enable" data-type="option" data-option_value="50" data-count_product="6" data-list_product="47,30,28,42,40,41">
                          <label title="Brown">
                            <img src="assets/image/cache/catalog/colors/brown-20x20.jpg">
                          </label>
                          <div class="option-count"><span>6</span></div>
                        </li>
                                <li class="so-filter-option opt-select  opt_enable" data-type="option" data-option_value="55" data-count_product="2" data-list_product="42,30">
                          <label title="Violet">
                            <img src="assets/image/cache/catalog/colors/violet-20x20.jpg">
                          </label>
                          <div class="option-count"><span>2</span></div>
                        </li>
                                <li class="so-filter-option opt-select  opt_enable" data-type="option" data-option_value="49" data-count_product="3" data-list_product="28,42,30">
                          <label title="Red">
                            <img src="assets/image/cache/catalog/colors/red-20x20.jpg">
                          </label>
                          <div class="option-count"><span>3</span></div>
                        </li>
                            </ul>
                  </div>
                </div>
              </li>
              <li class="so-filter-options" data-option="Manufacturer">
                <div class="so-filter-heading">
                  <div class="so-filter-heading-text">
                    <span>Manufacturer</span>
                  </div>
                  <i class="fa fa-chevron-down"></i>
                </div>
              
                <div class="so-filter-content-opts">
                  <div class="so-filter-content-opts-container">
                                <div class="so-filter-option opt-select  opt_enable" data-type="manufacturer" data-manufacturer_value="5" data-count_product="1" data-list_product="28">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/catalog/demo/htc_logo-20x20.jpg"> HTC </label>
                            <div class="option-count ">
                              <span>1</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option opt-select  opt_enable" data-type="manufacturer" data-manufacturer_value="9" data-count_product="1" data-list_product="30">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/catalog/demo/canon_logo-20x20.jpg"> Canon </label>
                            <div class="option-count ">
                              <span>1</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option opt-select  opt_enable" data-type="manufacturer" data-manufacturer_value="8" data-count_product="3" data-list_product="40,41,42">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/catalog/demo/apple_logo-20x20.jpg"> Apple </label>
                            <div class="option-count ">
                              <span>3</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option opt-select  opt_enable" data-type="manufacturer" data-manufacturer_value="7" data-count_product="1" data-list_product="47">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/catalog/demo/hp_logo-20x20.jpg"> Hewlett-Packard </label>
                            <div class="option-count ">
                              <span>1</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                      
                  </div>
              
                </div>
              </li>
              <li class="so-filter-options" data-option="Price">
                <div class="so-filter-heading">
                  <div class="so-filter-heading-text">
                    <span>Price</span>
                  </div>
                  <i class="fa fa-chevron-down"></i>
                </div>
              
                <div class="so-filter-content-opts">
                  <div class="so-filter-content-opts-container">
                    <div class="so-filter-content-wrapper so-filter-iscroll">
                      <div class="so-filter-options">
                        <div class="so-filter-option so-filter-price">
                          <div class="content_min_max">
                            $ <input type="number" class="input_min form-control" value="45" min="45" max="101">
                            - $ <input type="number" class="input_max form-control" value="101" min="45" max="101">
                          </div>
                          <div class="content_scroll">
                            <div id="slider-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="so-filter-options" data-option="Subcategory">
                <div class="so-filter-heading">
                  <div class="so-filter-heading-text">
                    <span>SubCategory</span>
                  </div>
                  <i class="fa fa-chevron-down"></i>
                </div>
              
                <div class="so-filter-content-opts">
                  <div class="so-filter-content-opts-container">
                                <div class="so-filter-option-sub opt-select  opt_disable" data-type="subcategory" data-subcategory_value="62" data-count_product="0" data-list_product="">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/placeholder-20x20.png"> Gante extensg </label>
                            <div class="option-count ">
                              <span>0</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option-sub opt-select  opt_disable" data-type="subcategory" data-subcategory_value="61" data-count_product="0" data-list_product="">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/placeholder-20x20.png"> Guntes magesg </label>
                            <div class="option-count ">
                              <span>0</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option-sub opt-select  opt_disable" data-type="subcategory" data-subcategory_value="60" data-count_product="0" data-list_product="">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/placeholder-20x20.png"> Egante mangetes </label>
                            <div class="option-count ">
                              <span>0</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option-sub opt-select  opt_disable" data-type="subcategory" data-subcategory_value="66" data-count_product="0" data-list_product="">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/placeholder-20x20.png"> Rengae manges </label>
                            <div class="option-count ">
                              <span>0</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option-sub opt-select  opt_disable" data-type="subcategory" data-subcategory_value="64" data-count_product="0" data-list_product="">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/placeholder-20x20.png"> Angene mafin </label>
                            <div class="option-count ">
                              <span>0</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                                <div class="so-filter-option-sub opt-select  opt_disable" data-type="subcategory" data-subcategory_value="63" data-count_product="0" data-list_product="">
                          <div class="so-option-container">
                            <div class="option-input">
                              <span class="fa fa-square-o">
                            </span></div>
                            <label><img src="assets/image/cache/placeholder-20x20.png"> Sine engain </label>
                            <div class="option-count ">
                              <span>0</span>
                              <i class="fa fa-times"></i>
                            </div>
                          </div>
                        </div>
                          </div>
              
                </div>
              </li>
            </ul>
            <a href="javascript:;" class="btn-block" id="btn_resetAll">
              <span class="fa fa-times" aria-hidden="true"></span> Reset All				
            </a>        
          </div>
        </div>
      </div>
    	<div class="module banner-left hidden-xs">
        <div class="static-image-home-left">
          <a title="Static Image" href="#"><img src="assets/image/catalog/cms/left-image-static.png" alt="Static Image"></a>
        </div>
      </div>	
    </aside>
    
    <div id="content" class=" col-md-9 col-sm-8  col-xs-12">
      <div class="products-category">
        <div class="category-info form-group row">										
          <div class="form-group col-sm-12 col-xs-12">
            Shop Laptop feature only the best laptop deals on the market.            
          </div>
          <div class="product-filter filters-panel">
            <div class="row">
              <div class="short-by-show form-inline text-right col-sm-10 col-xs-12">                
                <div class="form-group short-by">
                  <label class="control-label" for="input-sort">Sort By:</label>
                  <select id="input-sort" class="form-control" onchange="location = this.value;">
                    <option value="" selected="selected">Default</option>
                    <option value="">Name (A - Z)</option>
                    <option value="">Name (Z - A)</option>
                    <option value="">Price (Low &gt; High)</option>
                    <option value="">Price (High &gt; Low)</option>                                  
                  </select>
                </div>              
                <div class="form-group">
                  <label class="control-label" for="input-limit">Show:</label>
                  <select id="input-limit" class="form-control" onchange="location = this.value;">
                    <option value="" selected="selected">15</option>
                    <option value="">25</option>
                    <option value="limit=50">50</option>
                    <option value="limit=75">75</option>
                    <option value="limit=100">100</option>
                  </select>
                </div>
                <div class="product-compare form-group" style="margin: 0 10px"><a href="/compare" id="compare-total">Compare (0)</a></div>
              </div>
            </div>
          </div>
          <!-- GRID VIEW -->
          <div class="products-list row grid">     		
            <div class="product-layout col-md-3 col-sm-6 col-xs-6 ">
              <div class="product-item-container">
                <div class="left-block">
                  <div class="product-image-container lt-image  ">
                    <img data-src="assets/image/cache/catalog/product/36-270x270.jpg" src="assets/image/cache/catalog/product/36-270x270.jpg"  title="Bikum masen dumas" class="img-1 img-responsive" />
                    <img data-src="assets/image/cache/catalog/product/37-270x270.jpg" src="assets/image/cache/catalog/product/37-270x270.jpg"  alt="Bikum masen dumas" title="Bikum masen dumas" class="img-2 img-responsive" />
                  </div>                
                  <!--COUNTDOWN BOX-->
                  <div class="box-label">
                    <!--New Label-->
                                                        
                    <!--Sale Label-->
                  </div> 
                </div><!-- end left block -->
                
                <!-- BOX BUTTON			 -->
                <div class="button-group">
                  <!-- CART -->
                  <button class="addToCart btn-button" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i> </button>
                  <!-- WISHLIST -->
                  <button class="wishlist btn-button" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
                  <!-- COMPARE -->
                  <button class="compare btn-button" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
                  <!-- QUICK VIEW -->
                  <!--full quick view block-->
                  <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick View " data-fancybox-type="iframe"  href="product_id=42"> <i class="fa fa-search"></i> </a>
                    <!--end full quick view block-->
                </div>

                <div class="right-block">
                  <div class="caption">
                    <h4><a href="product_id=42">Bikum masen dumas</a></h4>		
                    <div class="ratings">
                      <div class="rating-box">
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                      </div>
                    </div>
                    <div class="price">
                            <span class="price-new">$100.00</span>
                    </div>
                    <div class="description  hidden ">
                      <p>The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provides more space for easier access to all the..</p>
                    </div>
                  </div>
                </div><!-- right block -->
              </div>
            </div>
          </div>
          <!-- Filters -->
          <div class="product-filter product-filter-bottom filters-panel" >
            <div class="row">
              <div class="col-md-2 hidden-sm hidden-xs">
                <div class="view-mode">
                  <div class="list-view">
                    <button class="btn btn-default grid active"  data-toggle="tooltip" title="Grid"><i class="fa fa-th-large"></i></button>
                    <button class="btn btn-default list "  data-toggle="tooltip" title="List"><i class="fa fa-bars"></i></button>
                  </div>
                </div>
              </div>
              <div class="short-by-show text-center col-sm-10 col-xs-12">
                <div class="form-group text-right-show" style="margin: 7px 10px">Showing 1 to 9 of 9 (1 Pages)</div>               
              </div>
                  
            </div>
          </div>
          
        </div>    
      </div>
    </div> 
    
  </div>
</div>
