

<!-- //slideshow -->			
<div class="so-slider">
  <div class="container">
    <div class="row">
      <div class="slide-left col-lg-9 col-md-9">
        <div id="so-slideshow" class="module sohomepage-slider ">
          <div class="modcontent">
            <div id="sohomepage-slider1">
              <div class="so-homeslider sohomeslider-inner">
                <div class="item ">
                  <a href="#" title="slide1" target="_blank">
                    <img class="responsive" src="assets/image/cache/catalog/slideshow/home9/slide1-870x433.jpg"  alt="slide1" />
                  </a>
                  <div class="sohomeslider-description"><p><br></p></div>
                </div>	
                <div class="item ">
                  <a href="#" title="slide2" target="_blank">
                    <img class="responsive" src="assets/image/cache/catalog/slideshow/home9/slide2-870x433.png"  alt="slide2" />
                  </a>
                  <div class="sohomeslider-description"><p><br></p></div>
                </div>	
                <div class="item ">
                  <a href="#" title="slide3" target="_blank">
                    <img class="responsive" src="assets/image/cache/catalog/slideshow/home9/slide3-870x433.jpg"  alt="slide3" />
                  </a>
                  <div class="sohomeslider-description"><p><br></p></div>
                </div>						
              </div>		
            </div>
          </div> <!--/ module pic slide-->

          <div class="loader-mod-box"></div>
        </div> <!--/.module auto load-->
			</div>
			<div class="slide-right col-lg-3 col-md-3">
				<div class="module custom-bn-l">
		      <div class="banner-l">
          <ul>
          <li class="col-s-1"><a title="Static Image" href="#"><img src="assets/image/catalog/banner/home9/1.jpg" alt="Static Image"></a></li>
          <li class="col-s-2"><a title="Static Image" href="#"><img src="assets/image/catalog/banner/home9/2.jpg" alt="Static Image"></a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End slideshow-->

<!-- div chan clean -->
<div class="container"><div class="row"><div class="col-sm-12"></div></div></div>
<!--End div chan clean-->

<!--  tab container--> 
<div class="container"><div class="row"><div class="col-sm-12">      
  <!-- baner sp noi bat -->
  <div class="module custom-bannertop clearfix">
    <div class="banner-top row">
      <ul>
        <li class="st-1-l col-lg-4 col-md-4 col-sm-4"><a title="Static Image" href="#"><img src="assets/image/catalog/banner/home9/3.jpg" alt="Static Image"></a></li>
        <li class="col-lg-4 col-md-4 col-sm-4"><a title="Static Image" href="#"><img src="assets/image/catalog/banner/home9/4.jpg" alt="Static Image"></a></li>
        <li class="st-1-r col-lg-4 col-md-4 col-sm-4"><a title="Static Image" href="#"><img src="assets/image/catalog/banner/home9/5.jpg" alt="Static Image"></a></li>
      </ul>
    </div>
  </div>

  <!-- sp hotdeal  -->               
  <moduledeals></moduledeals>

  <!-- button ship -->
  <div class="module custom-polyci">
    <div class="row box-polyci">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="banner-info banner-info1">
          <img src="assets/image/catalog/cms/home9/icon1.png" alt="Image Client">	
          <div class="banner-cont">
            <a href="#">30 DAYS RETURN</a>
            <p>money back guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="banner-info banner-info2">
          <div class="inner">
            <img src="assets/image/catalog/cms/home9/icon2.png" alt="Image Client">
            <div class="banner-cont">
              <a href="#">FREE SHIPPING</a>
              <p>on all orders over $99</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="banner-info banner-info3">
          <div class="inner">
            <img src="assets/image/catalog/cms/home9/icon3.png" alt="Image Client">
            <div class="banner-cont">
              <a href="#">LOWEST PRICE</a>
              <p>guarantee</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="banner-info banner-info4">
          <div class="inner">
            <img src="assets/image/catalog/cms/home9/icon4.png" alt="Image Client">
            <div class="banner-cont">
              <a href="#">SAFE SHOPPING</a>
              <p>guarantee</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--banner sp sale -->
  <div class="module custom-bannerct clearfix">
    <div class="row box-banner-ct">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="banner-ct1">
          <img src="assets/image/catalog/banner/home9/6.jpg" alt="Image Client">
        </div>
      </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="box-ct1">
        <div class="banner-ct2">
          <img src="assets/image/catalog/banner/home9/7.jpg" alt="Image Client">
        </div>
        <div class="banner-ct3">
          <img src="assets/image/catalog/banner/home9/8.jpg" alt="Image Client">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="banner-ct4">
        <img src="assets/image/catalog/banner/home9/9.jpg" alt="Image Client">
      </div>
    </div>
    </div>
  </div>	
  
  <!-- list sp new product -->
  <newblockproduct></newblockproduct>    
  
  <!-- banner -->
  <div class="module custom-bannerbt clearfix">
    <div class="banner-bottom row">
      <ul>
        <li class="st-1-l col-lg-6 col-md-6 col-sm-6"><a title="Static Image" href="#"><img src="assets/image/catalog/banner/home9/10.jpg" alt="Static Image"></a></li>
        <li class="col-lg-6 col-md-6 col-sm-6"><a title="Static Image" href="#"><img src="assets/image/catalog/banner/home9/11.jpg" alt="Static Image"></a></li>
      </ul>
    </div>
  </div>
  <!-- end banner-->

  <!-- list by catelory -->
  <div class="module custom-lt2">
    <div class="title-home">
      <h3 class="modtitle"><span>Top Selling</span></h3>
    </div>
    
    <div  class="so-listing-tabs first-load module">
      <div class="ltabs-wrap ">
        <div class="ltabs-tabs-container" >       
          <!--Begin Tabs-->
          <div class="ltabs-tabs-wrap">
            
            <ul class="ltabs-tabs cf">
              <li class="ltabs-tab" data-category-id="76" data-active-content-l=".items-category-76">
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/accsec-70x30.png"
                      title="Accessories" alt="Accessories"
                      style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Accessories</span>
              </li>
              <li class="ltabs-tab" data-category-id="80" data-active-content-l=".items-category-80" >
                <div class="ltabs-tab-img">
                  <img  src="assets/image/cache/catalog/cms/home9/mouse-70x30.png"
                        title="Bags" alt="Bags"
                        style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Bags</span>
              </li>
              <li class="ltabs-tab" data-category-id="74" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/computer-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
              <li class="ltabs-tab  " data-category-id="72" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/electronic-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
              <li class="ltabs-tab  " data-category-id="74" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/fashion-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
              <li class="ltabs-tab  " data-category-id="79" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/men-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
              <li class="ltabs-tab  " data-category-id="77" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/mobile-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
              <li class="ltabs-tab  " data-category-id="73" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/sport-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
              <li class="ltabs-tab  " data-category-id="75" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/watches-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
              <li class="ltabs-tab  " data-category-id="81" data-active-content-l=".items-category-74" >
                <div class="ltabs-tab-img">
                  <img src="assets/image/cache/catalog/cms/home9/women-70x30.png"
                    title="Computers" alt="Computers"
                    style="width: 70px; height:30px;background:#fff"/>
                </div>
                <span class="ltabs-tab-label">Computers</span>
              </li>
            </ul>
          </div>
        </div><!-- End MENU Tabs-->            
      </div>  
    </div>
     <!-- /.modcontent-->
  </div>
  <!-- end list by catelory -->  
      
  
  
  <!-- blog mini-->
  <div class="module so-latest-blog custom-ourblog clearfix">
    <h3 class="modtitle"><span>from our blog</span></h3>
    <div id="so_latest_blog" class="so-blog-external button-type2 button-type2">
      <div class="blog-external" data-effect="none">
        <div class="media">
          <div class="item">
            <div class="media-left">
              <a href="simple_blog_article_id=8" target="_blank">
                <img src="assets/image/cache/catalog/blog/1-600x390.jpg" alt="Ac tincidunt Suspendisse malesuada" class="media-object"/>
              </a>
            </div>
            <div class="media-bodys">  
              <div class="media-date-added">
                <div class="media-date-addeds">
                  28<br />
                  <span>Mar</span>
                </div>
              </div>
              <div class="media-content">
                <h4 class="media-heading">
                  <a href="simple_blog_article_id=8" title="Ac tincidunt Suspendisse malesuada" target="_blank">Ac tincidunt Suspendisse malesuada</a>
                </h4>
                <div class="description">                      
                  Commodo laoreet semper tincidunt lorem Vestibulum nunc at In 
                  Curab.....
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--  hangsx-->
  <div class="module manufacturer">
    <div class="main">
      <div id="ytcs5ac580bd9bc216494888991522892989" class="yt-content-slider owl-theme yt-content-slider-style-1 arrow-default" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-item_lg="5" data-item_sm="4" data-item_xs="2" data-arrows="yes" data-pagination="no" data-lazyload="no" data-loop="no" data-hoverpause="no">
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  	
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/1.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  	
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/2.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  	
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/3.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/4.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/5.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/1.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/2.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/3.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/4.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap">  
          <div class="item-manu">
            <a href="#" title="Link">
            <img src="assets/image/catalog/brands/home9/5.jpg" alt="img">
            </a>
          </div>
        </div>
        <div class="yt-content-slide yt-clearfix yt-content-wrap"> </div>
      </div>
              
  </div></div>    
  
</div></div></div>   
  <!-- end container -->
    


