<div class="container ">
  <ul class="breadcrumb" itemprop="breadcrumb">
	<li><a itemprop="url" href="home"><span itemprop="name"><i class="fa fa-home"></i></span></a></li>
	<li><a itemprop="url" href="product_id=31"><span itemprop="name">Your name Product</span></a></li>
  </ul>
</div>

<div class="container product-detail">
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="row product-view clearfix">
				<div class="left-content-product col-xs-12">
					<div class="row">								
						<div class="content-product-left  col-md-6 col-xs-12 ">
							<div id="thumb-slider" class="thumb-vertical-outer">
								<div id="thumb-slider-next" class="slider-btn lSNext"><i class="fa fa-chevron-up"></i></div>							
								<ul class="thumb-vertical previews-list ">
									<li class="owl2-item">
										<a data-index="0" class="img thumbnail" data-image="assets/image/cache/catalog/product/e13-1000x1000.jpg" title="Id est laborum et dol">
											<img src="assets/image/cache/catalog/product/e13-460x460.jpg" title="Id est laborum et dol" alt="Id est laborum et dol" />
										</a>
									</li>
									<li class="owl2-item">
										<a data-index="1" class="img thumbnail" data-image="assets/image/cache/catalog/product/15-1000x1000.png" title="Id est laborum et dol">
											<img src="assets/image/cache/catalog/product/15-460x460.png" title="Id est laborum et dol" alt="Id est laborum et dol" />
										</a>
									</li>
									<li class="owl2-item">
										<a data-index="2" class="img thumbnail" data-image="assets/image/cache/catalog/product/44-1000x1000.jpg" title="Id est laborum et dol">
											<img src="assets/image/cache/catalog/product/44-460x460.jpg" title="Id est laborum et dol" alt="Id est laborum et dol" />
										</a>
									</li>
									<li class="owl2-item">
										<a data-index="3" class="img thumbnail" data-image="assets/image/cache/catalog/product/e13-1000x1000.jpg" title="Id est laborum et dol">
											<img src="assets/image/cache/catalog/product/e13-460x460.jpg" title="Id est laborum et dol" alt="Id est laborum et dol" />
										</a>
									</li>
									<li class="owl2-item">
										<a data-index="4" class="img thumbnail" data-image="assets/image/cache/catalog/product/8-1000x1000.png" title="Id est laborum et dol">
											<img src="assets/image/cache/catalog/product/8-460x460.png" title="Id est laborum et dol" alt="Id est laborum et dol" />
										</a>
									</li>
									<li class="owl2-item">
										<a data-index="5" class="img thumbnail" data-image="assets/image/cache/catalog/product/23-1000x1000.png" title="Id est laborum et dol">
											<img src="assets/image/cache/catalog/product/23-460x460.png" title="Id est laborum et dol" alt="Id est laborum et dol" />
										</a>
									</li>																											
								</ul>							
								<div id="thumb-slider-prev" class="slider-btn lSPrev"><i class="fa fa-chevron-down"></i></div>
							</div>														
							<div class="large-image  vertical  ">
								<img itemprop="image" class="product-image-zoom" src="assets/image/cache/catalog/product/e13-1000x1000.jpg" data-zoom-image="assets/image/cache/catalog/product/e13-1000x1000.jpg" title="Id est laborum et dol" alt="Id est laborum et dol" />
								<!--New Label-->																						
								<!--Sale Label-->															  
							</div>
						</div>
										
						<div class="content-product-right col-md-6 col-xs-12">
							<div class="title-product">
								<h1>Id est laborum et dol</h1>
							</div>
							<!-- Review ---->
							<div class="box-review">
								<div class="ratings">
									<div class="rating-box">
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
									</div>
								</div>
								<a class="reviews_button" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 review (s)</a> | <a class="write_review_button" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
							</div>
													
							<div class="product-label">
								<div class="stock">
									<span>Availability:</span> 
									<span class="status-stock">In Stock</span>
								</div>
								<div class="product_page_price price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
									<span class="price" itemprop="price">$80.00</span>																							
								</div>
							</div>
								
							<!--Countdown box-->
							

							<!--End countdown box-->
							<div class="product-box-desc">
								<div class="inner-box-desc">
									<div class="model"><span>Product Code:</span> Product 4</div>
								</div>
							</div>
							
							<div class="short_description">
								<h3>Quick Overview</h3>
								The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 
								pixel resolution. Designed specifically for the creative professional, 
								this display provides more space for easier access to all the tools and 
								palettes needed to edit, format a...						
							</div>
										
							<div id="product">														
								<div class="form-group box-info-product">
									<div class="option quantity">									
										<div class="input-group quantity-control">
											<label>Qty</label>
											<input class="form-control" type="text" name="quantity" value="1" />
											<input type="hidden" name="product_id" value="31" />
											<span class="input-group-addon product_quantity_down">−</span>
											<span class="input-group-addon product_quantity_up">+</span>
										</div>
									</div>
									
									<div class="cart">
										<input type="button" data-toggle="tooltip" title="Add to Cart" value="Add to Cart" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" />
									</div>
									<div class="wishlist">
										<a class="icon" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('31');"><i class="fa fa-heart"></i></a>
									</div>
									<div class="compare">
										<a class="icon" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('31');"><i class="fa fa-exchange"></i></a>
									</div>
									
								</div>	
							</div><!-- end box info product -->

						</div>										
					</div>
				</div><!-- end - left-content-product -->
			  <section class="col-lg-2 hidden-sm hidden-md hidden-xs slider-products"></section>											
			</div>

			<div class="bototm-detail col-xs-12">
				<div class="row">					
					<!-- load produces relayted -->																	
											
					<div class="col-xs-12">
						<div class="producttab ">
							<div class="tabsslider  vertical-tabs col-xs-12">
								<ul class="nav nav-tabs col-lg-3 col-md-4 col-sm-3">
									<li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>	
									<li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Reviews (0)</a></li>
								</ul>																	
								<div class="tab-content col-lg-9 col-md-8 col-sm-9 col-xs-12">
									<div id="tab-1" class="tab-pane fade active in">
										<div class="cpt_product_description ">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 
											pixel resolution. Designed specifically for the creative professional, 
											this display provides more space for easier access to all the tools and 
											palettes needed to edit, format and composite your work. Combine this 
											display with a Mac Pro, MacBook Pro, or PowerMac G5 and there's no limit
											to what you can achieve.<br>
											
											The Cinema HD features an active-matrix liquid crystal display that 
											produces flicker-free images that deliver twice the brightness, twice 
											the sharpness and twice the contrast ratio of a typical CRT display. 
											Unlike other flat panels, it's designed with a pure digital interface to
											deliver distortion-free images that never need adjusting. With over 4 
											million digital pixels, the display is uniquely suited for scientific 
											and technical applications such as visualizing molecular structures or 
											analyzing geological data.<br>
											
											Offering accurate, brilliant color performance, the Cinema HD delivers 
											up to 16.7 million colors across a wide gamut allowing you to see subtle
											nuances between colors from soft pastels to rich jewel tones. A wide 
											viewing angle ensures uniform color from edge to edge. Apple's ColorSync
											technology allows you to create custom profiles to maintain consistent 
											color onscreen and in print. The result: You can confidently use this 
											display in all your color-critical applications.<br> 
										</div>									
									</div>														
									<div id="tab-review" class="tab-pane fade">
										<form>
											<div id="review"></div>
											<h2 id="review-title">Write a review</h2>
												Please <a href="account/login">login</a> or <a href="account/register">register</a> to review																								
										</form>
									</div>	
								</div>
							</div><!-- End Tabs Slider -->
							
							<!-- load produces for shop -->
							<productforshop></productforshop>

						</div>
					</div><!-- End tabs -->
				</div>
			</div>
		</div>
  </div>
</div>
