<app-header></app-header>


<!--<app-product-info></app-product-info>-->
	  <!--<app-home></app-home>-->
	  <router-outlet></router-outlet>

<div class="so-spotlight1">
	<div class="container">
		<div class="row">
			<div class="module ">
		        <ul class="list-services">
	                <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12"><a title="Free Shipping" href="#"><img src="assets/image/catalog/cms/free-shipping.png" alt="Free Shipping"></a></li>
	                <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12"><a title="Guaranteed" href="#"><img src="assets/image/catalog/cms/guaranteed.png" alt="Guaranteed"></a></li>
	                <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12"><a title="Deal" href="#"><img src="assets/image/catalog/cms/deal.png" alt="Deal"></a></li>
                </ul>
            </div>
		</div>
	</div> 
</div>

<div class="back-to-top"><i class="fa fa-angle-up"></i></div>

<app-footer></app-footer>