   <!-- Content Header (Page header) -->
   <section class="content-header">
    <h1>
      Product Information
      <small>#007612</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Product</a></li>
      <li class="active">Product Information</li>
    </ol>
  </section>

  <div class="pad margin no-print">
    <div class="callout callout-info" style="margin-bottom: 0!important;">
      <h4><i class="fa fa-info"></i> Note:</h4>
       Note
    </div>
  </div>

  <!-- Main content -->
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-globe"></i> .
          <small class="pull-right"></small>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        Product Name
        <address>
          <strong>{{product?.product_name}}</strong><br>
          
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        Image
      
        <address>
          <img src="http://localhost:9999/{{productphoto?.photosmart}}" >
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Shop</b><br>
        <br>
        <b>ShopName:</b> {{shop?.shop_name}}<br>
        <b>ShopTitle:</b> {{shop?.shop_title}}<br>
        <b>ShopStatus:</b> {{shopstatus}}<br>
       
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Price</th>
            <th>Date Create</th>
           
            <th>Description</th>
            
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{product?.product_pricestock}}</td>
            <td>{{product?.product_datecreate}}</td>
            <td>{{product?.product_description}}</td>
            
          </tr>
        
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  
    <div class="row">
      <!-- accepted payments column -->
      
    
      <!-- /.col -->
      <div class="col-xs-6">
        <p class="lead"></p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:50%"></th>
              <td></td>
            </tr>
          
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
      <div class="col-xs-12">
        <form (ngSubmit)="ok()" >
        <button  type="submit" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Verify
        </button>
      </form>
      <form (ngSubmit)="unlock()">
        <button type="submit" class="btn btn-success pull-right">
          <i class="fa fa-credit-card"></i> Unlock
        </button>
      </form>
      <form (ngSubmit)="cancel()">
        <button type="submit" class="btn btn-primary pull-right" style="margin-right: 5px;">
          <i class="fa fa-download"></i> Lock Product
        </button>
      </form>
      <form (ngSubmit)="delete(product._id)">
        <button type="submit" class="btn btn-primary pull-right" style="margin-right: 5px;">
          <i class="fa fa-download"></i> Delete
        </button>
      </form>
      </div>
    </div>
  </section>
  <!-- /.content -->
  <div class="clearfix"></div>

<!-- /.content-wrapper -->