
<!-- category list -->

<div id="so_category_slider_130" class="container-slider module   item-1 ">

  <div class="page-top">
    <h3 class="modtitle">
      <span>Mobile &amp; Tablet</span>
    </h3>

    <div class="item-sub-cat">
      <ul>
        <li>
          <a href="index91c2.html?route=product/category&amp;path=71" title="Qunge genga" target="_self" >Qunge genga</a>
        </li>
        <li>
          <a href="index4eb1.html?route=product/category&amp;path=65" title="Tange manue" target="_self" >Tange manue	</a>
        </li>
        <li>
          <a href="indexebd7.html?route=product/category&amp;path=67"  title="Punge nenune" target="_self" >Punge nenune</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="item-cat-image">
    <a href="#" title="Banner" ><img src="assets/image/catalog/banner/img-cat-1.png" alt="Banner"></a>     			
  </div>
      
  <div class="categoryslider-content products-list grid show preset01-4 preset02-3 preset03-2 preset04-2 preset05-1">
    <div class="slider so-category-slider not-js product-layout" data-effect="none" >

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <span class="label label-new">New</span>
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>

        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/24-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

    </div>   
  </div>
  <div class="form-group"></div>

</div>

<div id="so_category_slider_131" class="container-slider module   item-1 ">

  <div class="page-top">
    <h3 class="modtitle">
      <span>Mobile &amp; Tablet</span>
    </h3>

    <div class="item-sub-cat">
      <ul>
        <li>
          <a href="index91c2.html?route=product/category&amp;path=71" title="Qunge genga" target="_self" >Qunge genga</a>
        </li>
        <li>
          <a href="index4eb1.html?route=product/category&amp;path=65" title="Tange manue" target="_self" >Tange manue	</a>
        </li>
        <li>
          <a href="indexebd7.html?route=product/category&amp;path=67"  title="Punge nenune" target="_self" >Punge nenune</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="item-cat-image">
    <a href="#" title="Banner" ><img src="assets/image/catalog/banner/img-cat-1.png" alt="Banner"></a>     			
  </div>
      
  <div class="categoryslider-content products-list grid show preset01-4 preset02-3 preset03-2 preset04-2 preset05-1">
    <div class="slider so-category-slider not-js product-layout" data-effect="none" >

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                  <span class="label label-sale">Sale</span>
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>

        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

      <div class="item ">
        <div class="item-inner product-item-container transition">
          
          <div class="left-block">
            <div class="product-image-container">
              <div class="image">
                <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/product/24-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                </a>
              </div>                                              
            </div>
          </div>

          <div class="right-block">
            <div class="caption">
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              </div> <!-- /.rating -->
                                                      
              <h4>
                <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
              </h4>
                                  
              <p class="price">
                <span class="price-new"> $199.99</span>
              </p>
            </div>              
          </div>  

          <div class="button-group">
            <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
            <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
            <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
          </div>
          
        </div> 
      </div>

    </div>   
  </div>
  <div class="form-group"></div>

</div>

<div id="so_category_slider_132" class="container-slider module   item-1 ">

    <div class="page-top">
      <h3 class="modtitle">
        <span>Mobile &amp; Tablet</span>
      </h3>
  
      <div class="item-sub-cat">
        <ul>
          <li>
            <a href="index91c2.html?route=product/category&amp;path=71" title="Qunge genga" target="_self" >Qunge genga</a>
          </li>
          <li>
            <a href="index4eb1.html?route=product/category&amp;path=65" title="Tange manue" target="_self" >Tange manue	</a>
          </li>
          <li>
            <a href="indexebd7.html?route=product/category&amp;path=67"  title="Punge nenune" target="_self" >Punge nenune</a>
          </li>
        </ul>
      </div>
  
    </div>
  
    <div class="item-cat-image">
      <a href="#" title="Banner" ><img src="assets/image/catalog/banner/img-cat-1.png" alt="Banner"></a>     			
    </div>
        
    <div class="categoryslider-content products-list grid show preset01-4 preset02-3 preset03-2 preset04-2 preset05-1">
      <div class="slider so-category-slider not-js product-layout" data-effect="none" >
  
        <div class="item ">
          <div class="item-inner product-item-container transition">
            
            <div class="left-block">
              <div class="product-image-container">
                <div class="image">
                  <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  </a>
                </div>                                              
              </div>
            </div>
  
            <div class="right-block">
              <div class="caption">
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div> <!-- /.rating -->
                                                        
                <h4>
                  <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
                </h4>
                                    
                <p class="price">
                  <span class="price-new"> $199.99</span>
                </p>
              </div>              
            </div>  
  
            <div class="button-group">
              <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
              <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
              <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
            </div>
  
          </div> 
        </div>
  
        <div class="item ">
          <div class="item-inner product-item-container transition">
            
            <div class="left-block">
              <div class="product-image-container">
                <div class="image">
                  <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  </a>
                </div>                                              
              </div>
            </div>
  
            <div class="right-block">
              <div class="caption">
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div> <!-- /.rating -->
                                                        
                <h4>
                  <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
                </h4>
                                    
                <p class="price">
                  <span class="price-new"> $199.99</span>
                </p>
              </div>              
            </div>  
  
            <div class="button-group">
              <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
              <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
              <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
            </div>
            
          </div> 
        </div>
  
        <div class="item ">
          <div class="item-inner product-item-container transition">
            
            <div class="left-block">
              <div class="product-image-container">
                <div class="image">
                  <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  </a>
                </div>                                              
              </div>
            </div>
  
            <div class="right-block">
              <div class="caption">
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div> <!-- /.rating -->
                                                        
                <h4>
                  <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
                </h4>
                                    
                <p class="price">
                  <span class="price-new"> $199.99</span>
                </p>
              </div>              
            </div>  
  
            <div class="button-group">
              <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
              <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
              <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
            </div>
            
          </div> 
        </div>
  
        <div class="item ">
          <div class="item-inner product-item-container transition">
            
            <div class="left-block">
              <div class="product-image-container">
                <div class="image">
                  <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/product/23-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  </a>
                </div>                                              
              </div>
            </div>
  
            <div class="right-block">
              <div class="caption">
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div> <!-- /.rating -->
                                                        
                <h4>
                  <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
                </h4>
                                    
                <p class="price">
                  <span class="price-new"> $199.99</span>
                </p>
              </div>              
            </div>  
  
            <div class="button-group">
              <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
              <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
              <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
            </div>
            
          </div> 
        </div>
  
        <div class="item ">
          <div class="item-inner product-item-container transition">
            
            <div class="left-block">
              <div class="product-image-container">
                <div class="image">
                    <span class="label label-new">New</span>
                  <a class="lt-image" href="product_id=49" target="_self" title="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/product/24-250x220.png" class="img-1 img-responsive" alt="Samsung Galaxy Tab 10.1">
                    <img src="assets/image/cache/catalog/demo/samsung_tab_7-250x220.jpg" class="img-2 img-responsive" alt="Samsung Galaxy Tab 10.1">
                  </a>
                </div>                                              
              </div>
            </div>
  
            <div class="right-block">
              <div class="caption">
                <div class="rating">
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                </div> <!-- /.rating -->
                                                        
                <h4>
                  <a href="product_id=49" title="Samsung Galaxy Tab 10.1" target="_self">Samsung Galaxy Tab 10.1</a>
                </h4>
                                    
                <p class="price">
                  <span class="price-new"> $199.99</span>
                </p>
              </div>              
            </div>  
  
            <div class="button-group">
              <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('49');"><i class="fa fa-heart"></i></button>
              <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('49');"><i class="fa fa-exchange"></i></button>
              <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=49"></a>
            </div>
            
          </div> 
        </div>
  
      </div>   
    </div>
    <div class="form-group"></div>
  
</div>

<!-- End categories -->	
<script>
  
</script>