<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    List Account
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li>
      <a href="#">Account</a>
    </li>
    <li class="active">List Account</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">


      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th hidden>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>FullName</th>
                <th>Status</th>
                <th>Photo</th>
                <th>Phone</th>
                <th>Date Create</th>
                <th>Option</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let acc of accounts">
                <td hidden>{{acc._id}}</td>
                <td><a [routerLink]="['/accountdetail',{ id:acc._id }]">{{acc.acc_email}} </a></td>
                <td>{{acc.acc_password}}</td>
                <td>{{acc.acc_firstname}} {{acc.acc_lastname}}</td>
                <td><span class="label label-warning">{{acc.status}}</span></td>
                <td><img height="50" width="50" src="../../../../assets/images/{{acc.acc_photo}}"></td>
                <td>{{acc.acc_phone}}</td>
                <td>{{acc.acc_create}}</td>
                <td>
                  <input type="button"(click)="delete(acc._id)" value="Delete">
                  <br>
                 
                </td>
              </tr>
              
            </tbody>
            <tfoot>
              <tr>
                  <th hidden>Id</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>FullName</th>
                  <th>Status</th>
                  <th>Photo</th>
                  <th>Phone</th>
                  <th>Date Create</th>
                  <th>Option</th>

              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->