<div class="module so-deals">
    
      <div id="so_selling" class="so-deal modcontent products-list grid clearfix preset00-4 preset01-3 preset02-2 preset03-2 preset04-1 button-type1 style2">
        <div class="extraslider-inner product-layout" data-effect="none">
  
          <div class="item">
            <div class="product-thumb transition product-item-container">  
              <div class="left-block">
                <div class="product-image-container">
                  <div class="image">
                    <span class="label label-sale">Sale</span>
                    <a class="lt-image" href="product_id=51" target="_self">
                        <img src="assets/image/cache/catalog/product/36-270x270.jpg" class="img-1 img-responsive" alt="delivers exceptional graphics">
                        <img src="assets/image/cache/catalog/product/36-270x270.jpg" class="img-2 img-responsive" alt="delivers exceptional graphics">
                    </a>
                  </div>
                </div>
              </div>
  
              <div class="right-block">
                <div class="caption">
                  
                  <div class="rating">
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  </div>
                  <h4><a href="product_id=51" target="_self" title="delivers except.." >delivers except..</a></h4>
                  <p class="price">
                    <span class="price-new">$45.00</span> 
                    <span class="price-old">$120.00</span>
                  </p>
                </div>
              </div><!-- End right block -->
              
              <div class="button-group">
                <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('51');">
                  <i class="fa fa-shopping-cart"></i> 
                  <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
                </button>
                <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('51');">
                  <i class="fa fa-heart"></i>
                </button>
                <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('51');">
                  <i class="fa fa-exchange"></i>
                </button>             
                <!--full quick view block-->
                <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=51">  </a>	
              </div>
  
            </div>
          </div>
  
          <div class="item">
              <div class="product-thumb transition product-item-container">
    
                <div class="left-block">
                  <div class="product-image-container">
                    <div class="image">
                      <span class="label label-sale">Sale</span>
                      <a class="lt-image" href="product_id=51" target="_self">
                          <img src="assets/image/cache/catalog/product/36-270x270.jpg" class="img-1 img-responsive" alt="delivers exceptional graphics">
                          <img src="assets/image/cache/catalog/product/36-270x270.jpg" class="img-2 img-responsive" alt="delivers exceptional graphics">
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="right-block">
                  <div class="caption">
                    
                    <div class="rating">
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    </div>
                    <h4><a href="product_id=51" target="_self" title="delivers except.." >delivers except..</a></h4>
                    <p class="price">
                      <span class="price-new">$45.00</span> 
                      <span class="price-old">$120.00</span>
                    </p>
                  </div>
                </div><!-- End right block -->
                
                <div class="button-group">
                  <button type="button" class="addToCart" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('51');">
                    <i class="fa fa-shopping-cart"></i> 
                    <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
                  </button>
                  <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('51');">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" class="compare" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('51');">
                    <i class="fa fa-exchange"></i>
                  </button>             
                  <!--full quick view block-->
                  <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip" title="Quick view" data-fancybox-type="iframe"  href="product_id=51">  </a>	
                </div>
    
            </div>
          </div>
  
        </div>
      </div>
  
    
  </div>
  
  
  
  <!--END HOTDEAL-->