<div class="up-sell-product col-xs-12">
	<div class="module up-sell">
	  <h3 class="modtitle"><span>Shop Products</span></h3>
	  <div class="so-basic-product" id="so_basic_products_189_3764592721522893101">
		  <div class="item-wrap row cf products-list grid">
			 	<div class="item-element product-layout ">
				  <div class="item-inner product-item-container">
					  <div class="left-block">
						  <div class="product-image-container">
						    <div class="image">
							    <a class="lt-image" href="product_id=42" target="_blank" title= "Bikum masen dumas">
									  <img src="assets/image/cache/catalog/product/36-270x270.jpg" class="img-1" alt="Bikum masen dumas">
									  <img src="assets/image/cache/catalog/product/37-270x270.jpg" class="img-2" alt="Bikum masen dumas">
									</a>
							  </div>
							  <!--Sale Label-->
							</div>
					  </div>
						<div class="button-group">
              <button type="button" class="addToCart" onclick="cart.add('42');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
              <button type="button" class="wishlist" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
              <button type="button" class="compare" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
            </div>
            <div class="right-block">
              <div class="caption">
                <h4><a href="product_id=42" target="_blank">Bikum masen dumas</a></h4>
                <div class="ratings">
								  <div class="rating-box">
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                  </div>
							  </div>
                <div class="price">
                  <span class="price-new">$100.00</span>
                </div>
						  </div>
						</div>
				  </div>
			  </div>
			</div>
	  </div>
  </div>
</div>